.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#2684FF;
  overflow-y: scroll;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
}

.leftcontainer {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hometitle {
  font-size: 4rem;
  color: white;
}

.homeimage {
  width: 90%;
}

.rightcontainer {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formcontainer {
  height: 90%;
  max-height: 1000px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  max-width: 1200px;
}

.flightSearchCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 57%;
  width: 100%;
  border-radius: 7px;
  background-color: rgba(86, 177, 242, 0.835);
}

.labelinputcontainer {
  width: 90%;
  height: fit-content;
}

.flightNumberSearchCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 38%;
  width: 100%;
  border-radius: 7px;
  background-color: rgba(86, 177, 242, 0.835);
}

.formInputHeaders {
  margin: 0px;
  color: white;
}

.formlabels {
  font-size: 1.4rem;
  color: white;
}

.forminputs {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  padding: 0;
  color: black;
  -webkit-appearance: none;
}

.forminputs:focus {
  outline: solid #2684FF;
  outline-width: 2px;
}

.formSubmit {
  width: 200px;
  height: 50px;
  font-size: 1.4rem;
  border-radius: 6px;
  border: none;
  background-color: white;
  transition: 0.3s;
  -webkit-appearance: none;
  color: black;
  font-weight: 500;
}
.header {
  position: absolute;
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: center;
  color: white;
  padding-right: 20px;
  height: 50px;
  left: 10px;
}

.marginRemove {
  margin: 0px;
}

/*Responsiveness*/

/*Switch to scrollable page*/
@media only screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
  }

  .leftcontainer {
    width: 100%;
    height: fit-content;
  }

  .rightcontainer {
    width: 100%;
    height: fit-content;
    margin-top: 40px;
  }

  .formcontainer {
    margin-bottom: 20px;
    height: 800px;
  }
}

/*When view gets 800px or below make from container a fixed 700px*/
@media only screen and (max-height: 800px) {
  .formcontainer {
    height: 700px;
  }
}

/*When view gets 1000px or more make form text headers larger*/
@media only screen and (min-height: 1000px) {
  .formInputHeaders{
    font-size: 1.7rem;
  }
}
/*Shrink homepage title for mobile*/
@media only screen and (max-width: 700px) {
  .hometitle {
    font-size: 3rem;
    margin-top: 50px;
  }
}
