.locationContainer{
    width: 95%;
    margin-top: 7px;
    height: 100px;
    flex-shrink: 0;
    background-color:  rgba(123, 192, 241, 0.835);;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
.locationContainer:hover{
    background-color:  rgba(145, 200, 239, 0.835);
}
.iconRatingContainer{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 10px;
    margin-left: 7px;
}
.iconRatingContainer img{
    height: 50%;
    margin-right: 5px;
}
.iconRatingContainer h4{
    font-size: 1.5rem;
    color: white;
}
.locationContainer p{
    font-size: 1.2rem;
    color: white;
}
@media only screen and (min-height: 1200px) {
    .locationContainer{
        height: 130px
    }
    .iconRatingContainer h4{
        font-size: 2rem;
    }
    .locationContainer p {
        font-size: 1.7rem;
    }
}

@media only screen and (min-height: 1800px) {
    .iconRatingContainer h4{
        font-size: 2.3rem;
    }
    .locationContainer p {
        font-size: 2rem;
    }
}